/* DEBUGGING */
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/

html { 
  background: url(code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.body--flex-container {
	display: flex;
	height: inherit;
	width: inherit;
}

.body__left-third--flex-container {
	display: flex;
	flex-direction: column;
	flex-basis: 30%;
	align-items: center;
}

.body__left-third--flex-item {
	flex-basis: 50%;
}

.body__left-third--flex-item.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* base image */
img {
	/* maintains aspect ratio as viewport size changes */
	object-fit: contain;
	/* styling */
	border-radius: 15%;
	opacity: 0.70;
}

/* n.b. if {
				max-width: 100%;
				max-height: 100%;
			}
had been used, then image would resize awkwardly when
'selected' while adjusting viewport to smaller size.
so, "object-fit" property used instead to maintain proper
aspect ratio.
*/ 

/* add in hover effect highlighting */
img:hover,
img:active {
	object-fit: contain;
	border-radius: 15%;
	opacity: 1;
}

.body__left-third--flex-item.flex-container.lower {
	flex-direction: column
}

.rotator {
	width: 25px;
	height: 25px;
	border: solid 3px white;
	animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.name {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.body__right-two-thirds--flex-container {
	display: flex;
	flex-basis: 70%;
	flex-direction: column;
}

.body__right-two-thirds--flex-item.upper {
	display: flex;
	flex-basis: 87.5%;
	flex-direction: column;
	justify-content: center;
}

/* typewriter */

/* typewriter styles */
h1.upper--flex-item,
h4.upper--flex-item {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	/* hack to remove cursor -> {color: transparent;} */
	border-right: .15em solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 3.5s steps(20, end),
		blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 25% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	/* again, cursor remove hack applied */
	from, to { border-color: transparent }
	50% { border-color: transparent }
}
/* end typewriter */

.body__right-two-thirds--flex-item.lower--flex-container {
	display: flex;
	flex-basis: 12.5%;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

/* ****************** */
/* footer nav buttons */
/* ****************** */

.lower--flex-item {
	list-style-type: none;
	flex: 1;
	opacity: 0.9;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	/* box styling */
	outline: none;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 0 9px #fff;
	/*padding: 15px 25px;*/
}

.lower--flex-item:hover {
	filter: brightness(85%);
}

.lower--flex-item:active {
	filter: brightness(85%);
	box-shadow: 0 5px #fff;
	transform: translateY(-4px);
}

.lower--flex-item.left,
.lower--flex-item.middle,
.lower--flex-item.right {
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 12pt;
}

.lower--flex-item.left {
	background-color: #5db448;
}

.lower--flex-item.middle {
	background-color: #f70034;
}

.lower--flex-item.right {
	background-color: #e0bc4a;
}